{% extends 'partials/_base.html' %}

{% load static %}


{% block content %} 


<!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-fluid">

                    <!-- ========== Page Title Start ========== -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <br>
                                <h4 class="mb-0 fw-semibold">Agent Overview</h4>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Real Estate</a></li>
                                    <li class="breadcrumb-item active">Agent Overview</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- ========== Page Title End ========== -->

                    <div class="row">
                         <div class="col-lg-12">
                              <div class="card">
                                   <div class="card-header d-flex align-items-center justify-content-between bg-light-subtle flex-wrap">
                                        <h4 class="card-title">Agent</h4>
                                        
                                   </div>
                                   <div class="card-body">
                                        <div class="row">
                                             <div class="col-lg-12">
                                                  <div class="position-relative">
                                                       <img src="{{account.cover_image.url}}" alt="" class="img-fluid rounded border border-light border-4">
                                                  </div>
                                             </div>
                                        </div>

                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="row justify-content-center">
                         <div class="col-xl-8 col-lg-12">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center gap-3">
                                             <div class="position-relative">
                                                  <img src="{{ account.image.url }}" 
                                                        alt="avatar" 
                                                        width="107" 
                                                        height="130" 
                                                        class="rounded-circle">
                                                  <div class="badge bg-success rounded-2 position-absolute bottom-0 start-50 translate-middle-x mb-n1 fs-11"># {{account.rank}}</div>
                                             </div>
                                             <div class="d-block">
                                                  <a href="#!" class="text-dark fw-medium fs-16">{{ account.first_name }} {{ account.last_name }}</a>
                                                  <p class="mb-0">{{ account.email }}</p>
                                             </div>
                                             <div class="ms-lg-auto">
                                                  <a href="#!" class="btn btn-primary">Message</a>
                                                  <a href="#!" class="btn btn-outline-secondary">Work With Michael</a>
                                             </div>
                                        </div>
                                        <div class="mt-3">
                                             <p class="d-flex align-items-center gap-2"><iconify-icon icon="solar:map-point-wave-bold-duotone" class="fs-18 text-primary"></iconify-icon>{{account.city}}</p>
                                             <p class="d-flex align-items-center gap-2"><iconify-icon icon="solar:outgoing-call-rounded-bold-duotone" class="fs-18 text-primary"></iconify-icon>{{account.phone}}</p>

                                             <h4 class="card-title mb-2 mt-3">Sosial Media :</h4>
                                             <ul class="list-inline d-flex gap-1 mb-0 mt-3 align-items-center">
                                                  <li class="list-inline-item">
                                                  <a href="javascript: void(0);" class="btn btn-soft-primary avatar-sm d-flex align-items-center justify-content-center fs-20">
                                                       <i class="ti ti-brand-facebook"></i>
                                                  </a>
                                             </li>

                                             <li class="list-inline-item">
                                                  <a href="javascript: void(0);" class="btn btn-soft-danger avatar-sm d-flex align-items-center justify-content-center fs-20">
                                                       <i class="ti ti-brand-instagram"></i>
                                                  </a>
                                             </li>

                                             <li class="list-inline-item">
                                                  <a href="javascript: void(0);" class="btn btn-soft-info avatar-sm d-flex align-items-center justify-content-center  fs-20">
                                                       <i class="ti ti-brand-telegram"></i>
                                                  </a>
                                             </li>
                                             <li class="list-inline-item">
                                                  <a href="javascript: void(0);" class="btn btn-soft-success avatar-sm d-flex align-items-center justify-content-center fs-20">
                                                       <i class="ti ti-brand-whatsapp"></i>
                                                  </a>
                                             </li>
                                             </ul>
                                        </div>
                                        <div class="mt-4">
                                             <h4 class="card-title mb-2">About {{account.first_name}} {{account.last_name}} :</h4>
                                             <p class="mb-2">{{account.bio}}</p> 
                                        </div>
                                        

                                        <div class="mt-4">
                                            <h4 class="card-title mb-3">Property Status :</h4>
                                            <div class="row g-2">

                                                <!-- Müştəri istəkləri -->
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="card mb-0 shadow-none border">
                                                        <div class="card-body">
                                                            <div class="row justify-content-between align-items-center">
                                                                <div class="col-xl-5">
                                                                    <span class="avatar-title bg-success-subtle text-success rounded fs-22">
                                                                           <i class="ti ti-home-plus"></i>
                                                                      </span>
                                                                    <p >Müştəri istəkləri</p>
                                                                    <p class="mb-0 fw-semibold text-dark fs-20">243</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Total Satış -->
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="card mb-0 shadow-none border">
                                                        <div class="card-body">
                                                            <div class="row justify-content-between align-items-center">
                                                                <div class="col-xl-5">
                                                                    <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                                                           <i class="ti ti-building-skyscraper"></i>
                                                                      </span>
                                                                    <p >Total Satış</p>
                                                                    <p class="mb-0 fw-semibold text-dark fs-20">136</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Property Rent -->
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="card mb-0 shadow-none border">
                                                        <div class="card-body">
                                                            <div class="row justify-content-between align-items-center">
                                                                <div class="col-xl-5">
                                                                    <span class="avatar-title bg-primary-subtle text-primary rounded fs-22">
                                                                           <i class="ti ti-check fs-35 text-success"></i>
                                                                      </span>
                                                                    <p >Uyğun elan sayı</p>
                                                                    <p class="mb-0 fw-semibold text-dark fs-20">136</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="mt-4">
                                             <h4 class="card-title mb-3">Reviews :</h4>
                                             <div class="row">
                                                  <div class="col-lg-6">
                                                       <div class="card bg-light-subtle mb-0">
                                                            <div class="card-body">
                                                                 <div class="d-flex align-items-center gap-2">
                                                                      <img src="assets/images/users/avatar-3.jpg" alt="" class="rounded-circle avatar-md">
                                                                      <div>
                                                                           <h5 class="fw-semibold text-dark mb-1">Esther Howard</h5>
                                                                           <p class="m-0">@kasyrhh <span class="ms-1">(U.S.A)</span></p>

                                                                      </div>
                                                                 </div>
                                                                 <p class="my-3">"The team at agent went above and beyond to
                                                                      understand my needs and tailor their solutions to fit my business
                                                                      requirements Not only did they exceed our expectations "</p>
                                                                 <ul class="d-flex text-warning m-0 fs-18  list-unstyled">
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-half-line"></i>
                                                                      </li>
                                                                 </ul>
                                                                 <p class="fw-medium text-muted mb-0">3 Days Ago</p>

                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                       <div class="card bg-light-subtle mb-0">
                                                            <div class="card-body">
                                                                 <div class="d-flex align-items-center gap-2">
                                                                      <img src="assets/images/users/avatar-4.jpg" alt="" class="rounded-circle avatar-md">
                                                                      <div>
                                                                           <h5 class="fw-semibold text-dark mb-1">Elbart Bant</h5>
                                                                           <p class="m-0">@ryejghf <span class="ms-1">(Canada)</span></p>

                                                                      </div>
                                                                 </div>
                                                                 <p class="my-3">"The agent team exceeded expectations in my needs and customizing their solutions to perfectly align with my business requirements game-changer for our business."</p>
                                                                 <ul class="d-flex text-warning m-0 fs-18  list-unstyled">
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-fill"></i>
                                                                      </li>
                                                                      <li>
                                                                           <i class="ri-star-half-line"></i>
                                                                      </li>
                                                                 </ul>
                                                                 <p class="fw-medium text-muted mb-0">15 Days Ago</p>

                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <h4 class="card-title mt-4">Property File :</h4>
                                        <div class="mt-3 d-flex flex-wrap gap-2">
                                             <div class="d-flex p-2 gap-2 bg-light-subtle align-items-center text-start position-relative border rounded">
                                                  <iconify-icon icon="solar:file-check-bold" class="text-danger fs-24"></iconify-icon>
                                                 <div>
                                                     <h4 class="fs-14 mb-1"><a href="#!" class="text-dark stretched-link">Property-File.pdf</a></h4>
                                                         <p class="fs-12 mb-0">2.4 MB</p>
                                                 </div>
                                                 <i class="ri-download-cloud-line fs-20 text-muted"></i><i class=''></i>
                                             </div>

                                             <div class="d-flex p-2 gap-2 bg-light-subtle align-items-center text-start position-relative border rounded">
                                                  <iconify-icon icon="solar:user-bold" class="text-primary fs-24"></iconify-icon>
                                                 <div>
                                                     <h4 class="fs-14 mb-1"><a href="#!" class="text-dark stretched-link">Client-List.pdf</a></h4>
                                                         <p class="fs-12 mb-0">1.6 MB</p>
                                                 </div>
                                                 <i class="ri-download-cloud-line fs-20 text-muted"></i>
                                             </div>
                                             <div class="d-flex p-2 gap-2 bg-light-subtle align-items-center text-start position-relative border rounded">
                                                  <iconify-icon icon="solar:gallery-minimalistic-bold" class="text-success fs-24"></iconify-icon>
                                                 <div>
                                                     <h4 class="fs-14 mb-1"><a href="#!" class="text-dark stretched-link">Property-Photo.pdf</a></h4>
                                                         <p class="fs-12 mb-0">23.2 MB</p>
                                                 </div>
                                                 <i class="ri-download-cloud-line fs-20 text-muted"></i>
                                             </div>
                                             <div class="d-flex p-2 gap-2 bg-light-subtle align-items-center text-start position-relative border rounded">
                                                  <iconify-icon icon="solar:streets-map-point-bold" class="text-warning fs-24"></iconify-icon>
                                                 <div>
                                                     <h4 class="fs-14 mb-1"><a href="#!" class="text-dark stretched-link">Area-sqft.png</a></h4>
                                                         <p class="fs-12 mb-0">2.3 MB</p>
                                                 </div>
                                                 <i class="ri-download-cloud-line fs-20 text-muted"></i>
                                             </div>
                                         </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xl-4 col-lg-12">
                              <div class="card">
                                   <div class="card-header">
                                        <h4 class="card-title">Ödənişləriniz </h4>
                                   </div>
                                   <div class="card-body">
                                        <div class="p-2 bg-primary bg-gradient rounded-4 border border-light border-2 shadow-sm">
                                             <div class="d-flex align-items-center">
                                                  <img src="{% static 'images/card/chip.png' %}" alt="" class="avatar" width="50" height="50">
                                                  <div class="ms-auto">
                                                       <img src="{% static 'images/card/mastercard.svg' %}" alt="" class="avatar" width="50" height="50">
                                                  </div>
                                             </div>
                                             <div class="mt-5">
                                                  <h4 class="text-white d-flex gap-2">Balans: {{ account.balance.balance }} AZN</h4>
                                             </div>
                                             <div class="d-flex align-items-center justify-content-between mt-4">
                                                  <div>
                                                       <p class="text-white-50 mb-2"> Ad,Soyad</p>
                                                       <h4 class="mb-0 text-white">{{ account.first_name }} {{ account.last_name }}</h4>
                                                  </div>
                                                  <div>
                                                       <p class="text-white-50 mb-2">Valid</p>
                                                       <h4 class="mb-0 text-white">05/26</h4>
                                                  </div>
                                                  <img src="{% static 'images/card/contactless-payment.png' %}" alt="" class="img-fluid">
                                             </div>
                                        </div>
                                        <div class="mt-4">
                                             <div class="d-flex align-items-center gap-3 border-bottom pb-3">
                                                  {% for payment in account_payments %}
                                                  <div class="avatar bg-primary bg-opacity-10 rounded">
                                                       <iconify-icon icon="solar:square-transfer-horizontal-bold" class="fs-28 text-primary avatar-title"></iconify-icon>
                                                  </div>
                                                  <div>
                                                       <p class="mb-1 text-dark fw-medium fs-15">{{payment.account.first_name}} {{payment.account.last_name}}</p>
                                                       <p class="text-muted mb-0">{{payment.account.email}}</p>
                                                  </div>
                                                  <div class="ms-auto">
                                                       <p class="mb-1 fs-16 text-dark fw-medium">{{ payment.amount }} AZN <span><i class="ri-checkbox-circle-line text-success ms-1"></i></span></p>
                                                       <p class="mb-0 fs-13">TXN-{{ payment.id }}</p>
                                                  </div>
                                                  {% endfor %}
                                             </div>
                                             <div class="mt-4">
                                                  <a href="{% url 'transactions' %}" class="link-primary fw-medium">Hamısını gör</a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="card">
                                   <div class="card-header">
                                        <h4 class="card-title">Property Photos</h4>
                                   </div>
                                   <div class="card-body">
                                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                             <div class="carousel-inner">
                                                  <div class="carousel-item active">
                                                       <img src="assets/images/properties/p-1.jpg" class="d-block w-100 rounded" alt="img-6">
                                                       <div class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start">
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div class="avatar bg-primary rounded">
                                                                      <iconify-icon icon="solar:home-bold-duotone" class="fs-24 text-white avatar-title"></iconify-icon>
                                                                 </div>
                                                                 <div>
                                                                      <a href="#!" class="text-dark fw-medium fs-16">Dvilla Residences Batu</a>
                                                                      <p class="text-muted mb-0">4604 , Philli Lane
                                                                           Kiowa</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="carousel-item">
                                                       <img src="assets/images/properties/p-2.jpg" class="d-block w-100 rounded" alt="img-7">
                                                       <div class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start">
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div class="avatar bg-primary rounded">
                                                                      <iconify-icon icon="solar:home-bold-duotone" class="fs-24 text-white avatar-title"></iconify-icon>
                                                                 </div>
                                                                 <div>
                                                                      <a href="#!" class="text-dark fw-medium fs-16">PIK Villa House</a>
                                                                      <p class="text-muted mb-0">27, Boulevard Cockeysville</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="carousel-item">
                                                       <img src="assets/images/properties/p-3.jpg" class="d-block w-100 rounded" alt="img-5">
                                                       <div class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start">
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div class="avatar bg-primary rounded">
                                                                      <iconify-icon icon="solar:home-bold-duotone" class="fs-24 text-white avatar-title"></iconify-icon>
                                                                 </div>
                                                                 <div>
                                                                      <a href="#!" class="text-dark fw-medium fs-16">Tungis Luxury</a>
                                                                      <p class="text-muted mb-0">900 , Creside WI 54913</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="carousel-item">
                                                       <img src="assets/images/properties/p-4.jpg" class="d-block w-100 rounded" alt="img-5">
                                                       <div class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start">
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div class="avatar bg-primary rounded">
                                                                      <iconify-icon icon="solar:buildings-3-bold-duotone" class="fs-24 text-white avatar-title"></iconify-icon>
                                                                 </div>
                                                                 <div>
                                                                      <a href="#!" class="text-dark fw-medium fs-16">Luxury Apartment</a>
                                                                      <p class="text-muted mb-0">223 , Creside Santa Maria</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="carousel-item">
                                                       <img src="assets/images/properties/p-5.jpg" class="d-block w-100 rounded" alt="img-5">
                                                       <div class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start">
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div class="avatar bg-primary rounded">
                                                                      <iconify-icon icon="solar:home-bold-duotone" class="fs-24 text-white avatar-title"></iconify-icon>
                                                                 </div>
                                                                 <div>
                                                                      <a href="#!" class="text-dark fw-medium fs-16">Weekend Villa MBH</a>
                                                                      <p class="text-muted mb-0">980, Jim Rosa Lane Dublin</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>
                                             <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Previous</span>
                                             </button>
                                             <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Next</span>
                                             </button>
                                        </div>
                                   </div>
                              </div>


                         </div>
                    </div>

               </div>
               <!-- End Container Fluid -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->





{% endblock %}