{% extends 'partials/_base.html' %}

{% load static %}


{% block content %} 

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-fluid">

                    <!-- ========== Page Title Start ========== -->
                    <div class="row">
                        <div class="col-12">
                         <br>
                            <div class="page-title-box">
                                <h4 class="mb-0 fw-semibold">Listing List</h4>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Real Estate</a></li>
                                    <li class="breadcrumb-item active">Listing List</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- ========== Page Title End ========== -->

                    <div class="row">
                         <div class="col-md-6 col-xl-3">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                             <div>
                                                  <h4 class="card-title mb-2 ">Total Incomes</h4>
                                                  <p class="text-muted fw-medium fs-22 mb-0">$12,7812.09</p>
                                             </div>
                                             <div>
                                                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                       <i class="ti ti-wallet fs-32 text-primary avatar-title"></i>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-3">
                                             <p class="mb-0"><span class="text-success fw-medium mb-0"><i class="ri-arrow-up-line"></i>34.4%</span> vs last month</p>
                                             <div>
                                                  <a href="#!" class="link-primary fw-medium">See Details <i class='ri-arrow-right-line align-middle'></i></a>

                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-6 col-xl-3">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                             <div>
                                                  <h4 class="card-title mb-2 ">Total Properties</h4>
                                                  <p class="text-muted fw-medium fs-22 mb-0">15,780 Unit</p>
                                             </div>
                                             <div>
                                                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                       <i class="ti ti-home fs-32 text-primary avatar-title"></i>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-3">
                                             <p class="mb-0"><span class="text-danger fw-medium mb-0"><i class="ri-arrow-down-line"></i>8.5%</span> vs last month</p>

                                             <div>
                                                  <a href="#!" class="link-primary fw-medium">See Details <i class='ri-arrow-right-line align-middle'></i></a>

                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-6 col-xl-3">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                             <div>
                                                  <h4 class="card-title mb-2 ">Unit Sold</h4>
                                                  <p class="text-muted fw-medium fs-22 mb-0">893 Unit</p>
                                             </div>
                                             <div>
                                                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                       <i class="ti ti-currency-dollar fs-32 text-primary avatar-title"></i>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-3">
                                             <p class="mb-0"><span class="text-success fw-medium mb-0"><i class="ri-arrow-up-line"></i>17%</span> vs last month</p>
                                             <div>
                                                  <a href="#!" class="link-primary fw-medium">See Details <i class='ri-arrow-right-line align-middle'></i></a>

                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-6 col-xl-3">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                             <div>
                                                  <h4 class="card-title mb-2 ">Unit Rent</h4>
                                                  <p class="text-muted fw-medium fs-22 mb-0">459 Unit</p>
                                             </div>
                                             <div>
                                                  <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                       <i class="ti ti-key fs-32 text-primary avatar-title"></i>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-3">
                                             <p class="mb-0"><span class="text-danger fw-medium mb-0"><i class="ri-arrow-down-line"></i>12%</span> vs last month</p>
                                             <div>
                                                  <a href="#!" class="link-primary fw-medium">See Details <i class='ri-arrow-right-line align-middle'></i></a>

                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12">
                              <div class="card">
                                   <div class="card-header d-flex justify-content-between align-items-center border-bottom">
                                        <div>
                                             <h4 class="card-title mb-0">All Properties List</h4>
                                        </div>
                                        <div class="dropdown">
                                             <a href="#" class="dropdown-toggle btn btn-sm btn-outline-light rounded" data-bs-toggle="dropdown" aria-expanded="false">
                                                  This Month
                                             </a>
                                             <div class="dropdown-menu dropdown-menu-end">
                                                  <!-- item-->
                                                  <a href="#!" class="dropdown-item">Download</a>
                                                  <!-- item-->
                                                  <a href="#!" class="dropdown-item">Export</a>
                                                  <!-- item-->
                                                  <a href="#!" class="dropdown-item">Import</a>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="table-responsive">
                                        <table class="table align-middle text-nowrap table-hover table-centered mb-0">
                                             <thead class="bg-light-subtle">
                                                  <tr>
                                                       <th style="width: 20px;">
                                                            <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck1">
                                                                 <label class="form-check-label" for="customCheck1"></label>
                                                            </div>
                                                       </th>
                                                       <th>Properties Photo & Name</th>
                                                       <th>Size</th>
                                                       <th>Property Type</th>
                                                       <th>Rent/Sale</th>
                                                       <th>Room Count</th>
                                                       <th>Location</th>
                                                       <th>Price</th>
                                                       <th>Action</th>
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                  {% for property in properties %}
                                                  <tr>
                                                       <td>
                                                            <div class="form-check">
                                                                 <input type="checkbox" class="form-check-input" id="customCheck2">
                                                                 <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                            </div>
                                                       </td>
                                                       <td>
                                                            <div class="d-flex align-items-center gap-2">
                                                                 <div>
                                                                      <img src="{{ property.image.url }}" alt="" class="avatar-md rounded border border-light border-3">
                                                                 </div>
                                                                 <div>
                                                                      <a href="{% url 'property-detail' property.id %}" class="text-dark fw-medium fs-15">{{property.title}}</a>
                                                                 </div>
                                                            </div>
 
                                                       </td>
                                                       <td>{{property.square}} m²</td>
                                                       <td>{{property.category}}</td>
                                                       {% if property.is_rent %}
                                                            <td> >Kirayə</td>
                                                       {% else %}
                                                            <td> Satılıq</td>
                                                       {% endif %}
                                                       <td>
                                                            <p class="mb-0"><iconify-icon icon="solar:bed-broken" class="align-middle fs-16"></iconify-icon> {{property.room_count}}</p>
                                                       </td>
                                                       <td>{{property.location.area}}</td>
                                                       <td>${{property.price}}</td>
                                                       <td>
                                                       <div class="d-flex gap-2">
                                                            <!-- Detail (Eye) -->
                                                            <a href="{% url 'property-detail' property.id %}" class="btn btn-light btn-sm">
                                                                 <i class="ti ti-eye fs-18 align-middle"></i>
                                                            </a>

                                                            <!-- Delete -->
                                                            <a href="#!" class="btn btn-soft-danger btn-sm">
                                                                 <i class="ti ti-trash fs-18 align-middle"></i>
                                                            </a>
                                                       </div>
                                                       </td>
                                                  </tr>
                                                  {% endfor %}

                                             </tbody>
                                        </table>
                                   </div>
                                   <!-- end table-responsive -->
                                   <div class="card-footer border-top-0">
                            <ul class="pagination pagination-boxed justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a href="#" class="page-link"><i class="ti ti-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">4</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link"><i class="ti ti-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                              </div>
                         </div>

                    </div>


               </div>
               <!-- End Container Fluid -->

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->


{% endblock %}