{% extends 'partials/_base.html' %}

{% load static %}


{% block content %} 

<!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="page-content">
            <div class="page-container">

                
                <div class="page-title-head d-flex align-items-center gap-2">
                    <div class="flex-grow-1">
                        <h4 class="fs-17 mb-0">Əmlak məlumatları</h4>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card card-body">
                                <h4 class="card-title mb-2">Photos</h4>
                                <!-- Crossfade -->
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
                                    <div class="carousel-inner shadow" role="listbox">
                                        
                                        {% if property.image %}
                                        <div class="carousel-item text-center active">
                                            <img src="{{ property.image.url }}" 
                                                class="img-fluid bg-body img-thumbnail"
                                                alt="{{ property.title }}">
                                        </div>
                                        {% endif %}

                                        {% for image in property.images.all %}
                                        <div class="carousel-item text-center {% if not property.image and forloop.first %}active{% endif %}">
                                            <img src="{{ image.image.url }}" 
                                                class="img-fluid bg-body img-thumbnail"
                                                alt="{{ property.title }}">
                                        </div>
                                        {% endfor %}
                                        
                                    </div>

                                    <div class="carousel-indicators m-0 mt-2 d-lg-flex d-none position-static h-100 rounded gap-1">
                                        
                                        {% if property.image %}
                                        <button type="button"
                                                data-bs-target="#carouselExampleFade"
                                                data-bs-slide-to="0"
                                                class="active h-auto rounded bg-light-subtle border">
                                            <img src="{{ property.image.url }}" class="d-block rounded img-fluid">
                                        </button>
                                        {% endif %}

                                        {% for image in property.images.all %}
                                        <button type="button"
                                                data-bs-target="#carouselExampleFade"
                                                data-bs-slide-to="{% if property.image %}{{ forloop.counter }}{% else %}{{ forloop.counter0 }}{% endif %}"
                                                class="h-auto rounded bg-light-subtle border">
                                            <img src="{{ image.image.url }}" class="d-block rounded img-fluid">
                                        </button>
                                        {% endfor %}
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- end slider -->

                            <div class="card card-body">
                                <h4>{{ property.title }}</h4>
                                <p class="text-muted"><i class="ti ti-map-pin me-2"></i>{{ property.location.area.name }}, {{ property.location.street.name }}</p>
                                <p class="text-muted mb-4">{{property.description|linebreaks}}</p>

                                <h4 class="mb-3">General Amenities</h4>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="list-unstyled proprerty-features">
                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Swimming pool
                                            </li>
                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Air conditioning
                                            </li>
                                        </ul>
                                    </div>
                                    <!--- end col -->

                                    <div class="col-sm-4">
                                        <ul class="list-unstyled proprerty-features">
                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Terrace
                                            </li>
                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Coffee pot
                                            </li>
                                        </ul>
                                    </div>
                                    <!--- end col -->

                                    <div class="col-sm-4">
                                        <ul class="list-unstyled proprerty-features">

                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Dishwasher
                                            </li>
                                            <li class="mb-2 fs-15">
                                                <i class="ti ti-circle-check text-success me-1 fs-16"></i> Near Green Zone
                                            </li>
                                        </ul>
                                    </div>
                                    <!--- end col -->
                                </div>
                                <!-- end row -->
                            </div>

                            <div class="card card-body">
                                <h4 class="card-title mb-2">Location</h4>
                                <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4&amp;zoom=18&amp;maptype=satellite" style="width: 100%; height: 360px; overflow:hidden; border:0;"></iframe>
                            </div>

                        </div>
                        <!-- end col -->

                        <div class="col-lg-4">
                            <div class="text-center card card-body">
                                <div class="text-start">
                                    <h4 class="card-title mb-4">Elan sahibi</h4>
                                </div>
                                <div class="member-card">

                                    <div class="mb-2">
                                        <h5 class="fs-18 mb-1">{{ property.propertyist_name }}</h5>
                                    </div>

                                    <div class="mt-4">
                                        <ul class="list-inline">
                                            <li class="list-inline-item me-3">
                                                <h4>{{ property.propertyist_phone }}</h4>
                                                <p>Əlaqə nömrəsi</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <button type="button" class="btn btn-danger rounded-pill">Send Message</button>

                                </div>
                                <!-- end membar card -->
                            </div>
                            <!-- end card-box -->

                            <div class="card card-body">
                                <h4 class="card-title mb-2">Əmlak məlumatları</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Qiymət:</th>
                                                <td>{{ property.price }} AZN</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Satış/Kirayə ?: </th>
                                                {% if property.is_sale %}
                                                <td><span class="label label-danger">Satış</span></td>
                                                {% else %}
                                                <td><span class="label label-success">Kirayə</span></td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <th scope="row">Otaq sayı:</th>
                                                <td>{{ property.room_count }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Sahəsi</th>
                                                <td>{{ property.square }} m²</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Çıarış:</th>
                                                <td>{{ property.document_type }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Təmirlidir:</th>
                                                {% if property.renovation %}
                                                <td><span class="label label-success">Bəli</span></td>
                                                {% else %}
                                                <td><span class="label label-danger">Yox</span></td>
                                                {% endif %}
                                                
                                            </tr>
                                            <tr>
                                                <th scope="row">Mərtəbə:</th>
                                                <td>{{ property.floor }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Tapılma tarixi:</th>
                                                <td>{{ property.created_at|date:"d.m.Y" }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Elan linki:</th>
                                                <td><a href="{{ property.url }}" target="_blank">Orjinal elana bax</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mənbə:</th>
                                                <td>{{ property.source.source_name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end card-box -->

                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end property-detail-wrapper -->

            </div> <!-- container -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start">
                            <script>document.write(new Date().getFullYear())</script> © Zircos - By <a href="https://1.envato.market/coderthemes" target="_blank" class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">Coderthemes</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


{% endblock %}